html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  text-transform: uppercase;
  background-color: black;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar-brand > img {
  height: 1.8rem;
}

.navbar-nav li {
  padding-right: 0.5rem;
}

.navbar .navbar-nav .nav-link {
  color: white;
  padding-top: 0.6rem;
  transition: all 0.2s;
}

.navbar .navbar-nav .nav-link:hover {
  transform: translateY(-5px);
  color: rgb(146, 44, 44);
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(146, 44, 44);
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Landing */

.home-inner {
  background-image: url(img/computers.png);
  background-size: contain;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
}
.caption h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}

.caption h3 {
  padding-bottom: 1rem;
}

/* popup */
.popup {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.popup-active {
  visibility: visible;
  opacity: 1;
}

.popup__box {
  position: relative;
  background-color: rgb(247, 245, 245);
  border-radius: 10px;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.popup__box h3 {
  padding: 2rem 0;
  font-size: 1.3rem;
}

.popup__box button {
  margin: 2rem 0;
}

.popup__box input {
  width: 50%;
}

.popup-close {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 10px;
  font-weight: bold;
}

/* features */
.jumbotron {
  color: black;
  margin: 0;
  padding: 0;
}

.features-list {
  list-style: none;
}

.jumbotron > .line {
  margin-bottom: 0;
}
/* Clients */
.client {
  border-radius: 50%;
  max-width: 90%;
}
.client:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.3);
}

.blockquote p {
  width: 80%;
  margin: 0 auto;
}

.embed-responsive {
  width: 70%;
  margin: 2rem auto;
}

@media all and (max-width: 768px) {
  .client {
    max-width: 30vw;
    width: 50%;
  }
}
/* Contact */

footer,
footer a {
  background-color: lightgray;
  color: white;
}

footer img {
  height: 2rem;
}

footer a:hover,
footer p,
footer h3 {
  color: black;
}
/* Animate Classes */
#home,
#course,
#features,
#resources,
#clients,
#contact {
  overflow: hidden;
}
.animate-from-left {
  transform: translateX(-5%);
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.animate-from-right {
  transform: translateX(5%);
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.animate-from-down {
  transform: translateY(5%);
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.slideIn {
  transform: translate(0);
  opacity: 1;
}

/*============= SECTION =============*/ /* .narrow { width: 75%; margin: 1.5rem auto; padding-top: 2rem; } .narrow h1 { font-size: 2.4rem; } .btn-secondary { border-width: medium; border-radius: 0; padding: .6rem 1.2rem; font-size: 1.2rem; text-transform: uppercase; margin: 1rem; border-color: #1EBBA3; background-color: #1EBBA3; color: white; } .btn-secondary:hover,
  .btn-secondary:focus { border-color: #189582; background-color: #189582; color: white; } */ /*============ BOOTSTRAP BREAK POINTS: Extra small (xs) devices (portrait phones, less than 576px) No media query since this is the default in Bootstrap Small (sm) devices (landscape phones, 576px and up) @media (min-width: 576px) { ... } Medium (md) devices (tablets, 768px and up) @media (min-width: 768px) { ... } Large (lg) devices (desktops, 992px and up) @media (min-width: 992px) { ... } Extra (xl) large devices (large desktops, 1200px and up) @media (min-width: 1200px) { ... } =============*/ ;
